### Pandas: Dummy Variable 
- Models: applied models are sklearn: Linear Regression and Stats Models: Linear Rgression

- Dataset: msleep.csv
- Learning Date: 21-Oct-23
- Learning from: Prasert Kanawattanachai (CBS)
    - Github: https://github.com/prasertcbs/

In [2]:
# import a library

import pandas as pd

In [3]:
# load csv dat to a dataframe

url = 'https://github.com/prasertcbs/tutorial/raw/master/msleep.csv'
df = pd.read_csv(url)
df.sample(5)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
11,Guinea pig,Cavis,herbi,Rodentia,domesticated,9.4,0.8,0.216667,14.6,0.0055,0.728
70,Thirteen-lined ground squirrel,Spermophilus,herbi,Rodentia,lc,13.8,3.4,0.216667,10.2,0.0040,0.101
29,Giraffe,Giraffa,herbi,Artiodactyla,cd,1.9,0.4,NaN,22.1,NaN,899.995
20,Asian elephant,Elephas,herbi,Proboscidea,en,3.9,NaN,NaN,20.1,4.6030,2547.000
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350

In [4]:
df.columns

Index(['name', 'genus', 'vore', 'order', 'conservation', 'sleep_total',
       'sleep_rem', 'sleep_cycle', 'awake', 'brainwt', 'bodywt'],
      dtype='object')

In [5]:
df.shape

(83, 11)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          83 non-null     object
 1   genus         83 non-null     object
 2   vore          76 non-null     object
 3   order         83 non-null     object
 4   conservation  54 non-null     object
 5   sleep_total   83 non-null     float64
 6   sleep_rem     61 non-null     float64
 7   sleep_cycle   32 non-null     float64
 8   awake         83 non-null     float64
 9   brainwt       56 non-null     float64
 10  bodywt        83 non-null     float64
dtypes: float64(6), object(5)
memory usage: 7.3+ KB

In [7]:
# check null/na data 
df[df['vore'].isna()]

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
7,Vesper mouse,Calomys,NaN,Rodentia,NaN,7.0,NaN,NaN,17.0,NaN,0.045
54,Desert hedgehog,Paraechinus,NaN,Erinaceomorpha,lc,10.3,2.7,NaN,13.7,0.00240,0.550
56,Deer mouse,Peromyscus,NaN,Rodentia,NaN,11.5,NaN,NaN,12.5,NaN,0.021
57,Phalanger,Phalanger,NaN,Diprotodontia,NaN,13.7,1.8,NaN,10.3,0.01140,1.620
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.6,0.02100,3.600
68,Mole rat,Spalax,NaN,Rodentia,NaN,10.6,2.4,NaN,13.4,0.00300,0.122
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.2,0.00033,0.048

In [10]:
df.isna().sum()/len(df)*100

name             0.000000
genus            0.000000
vore             8.433735
order            0.000000
conservation    34.939759
sleep_total      0.000000
sleep_rem       26.506024
sleep_cycle     61.445783
awake            0.000000
brainwt         32.530120
bodywt           0.000000
dtype: float64

In [12]:
7/83

0.08433734939759036

In [13]:
# drop na based on vore column

df.dropna(subset = ['vore'], axis = 'index', inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 0 to 82
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          76 non-null     object
 1   genus         76 non-null     object
 2   vore          76 non-null     object
 3   order         76 non-null     object
 4   conservation  52 non-null     object
 5   sleep_total   76 non-null     float64
 6   sleep_rem     56 non-null     float64
 7   sleep_cycle   31 non-null     float64
 8   awake         76 non-null     float64
 9   brainwt       51 non-null     float64
 10  bodywt        76 non-null     float64
dtypes: float64(6), object(5)
memory usage: 7.1+ KB

In [14]:
df.tail(4)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.33
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.0175,2.00
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.0445,3.38
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.35,14.2,0.0504,4.23

### create dummy variables

In [15]:
dummies = pd.get_dummies(df['vore'])
dummies

    carni  herbi  insecti  omni
0       1      0        0     0
1       0      0        0     1
2       0      1        0     0
3       0      0        0     1
4       0      1        0     0
..    ...    ...      ...   ...
78      0      0        0     1
79      1      0        0     0
80      1      0        0     0
81      1      0        0     0
82      1      0        0     0

[76 rows x 4 columns]

In [16]:
df.vore.unique()

array(['carni', 'omni', 'herbi', 'insecti'], dtype=object)

In [17]:
# concate a new dummy columns to main dataframe

dm = pd.concat([df, dummies], axis = 'columns')
dm.head(4)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt,carni,herbi,insecti,omni
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000,1,0,0,0
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480,0,0,0,1
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350,0,1,0,0
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019,0,0,0,1

### sklearn: Linear Regression

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
dm.columns

Index(['name', 'genus', 'vore', 'order', 'conservation', 'sleep_total',
       'sleep_rem', 'sleep_cycle', 'awake', 'brainwt', 'bodywt', 'carni',
       'herbi', 'insecti', 'omni'],
      dtype='object')

In [25]:
# select some columns

dt = dm[['vore', 'bodywt', 'carni', 'herbi', 'insecti', 'omni', 'sleep_total']]
dt.head(10)

     vore   bodywt  carni  herbi  insecti  omni  sleep_total
0   carni   50.000      1      0        0     0         12.1
1    omni    0.480      0      0        0     1         17.0
2   herbi    1.350      0      1        0     0         14.4
3    omni    0.019      0      0        0     1         14.9
4   herbi  600.000      0      1        0     0          4.0
5   herbi    3.850      0      1        0     0         14.4
6   carni   20.490      1      0        0     0          8.7
8   carni   14.000      1      0        0     0         10.1
9   herbi   14.800      0      1        0     0          3.0
10  herbi   33.500      0      1        0     0          5.3

In [26]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 0 to 82
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   vore         76 non-null     object
 1   bodywt       76 non-null     float64
 2   carni        76 non-null     uint8
 3   herbi        76 non-null     uint8
 4   insecti      76 non-null     uint8
 5   omni         76 non-null     uint8
 6   sleep_total  76 non-null     float64
dtypes: float64(2), object(1), uint8(4)
memory usage: 2.7+ KB

In [27]:
dt = dt.dropna(axis = 'index')
dt.head(10)

     vore   bodywt  carni  herbi  insecti  omni  sleep_total
0   carni   50.000      1      0        0     0         12.1
1    omni    0.480      0      0        0     1         17.0
2   herbi    1.350      0      1        0     0         14.4
3    omni    0.019      0      0        0     1         14.9
4   herbi  600.000      0      1        0     0          4.0
5   herbi    3.850      0      1        0     0         14.4
6   carni   20.490      1      0        0     0          8.7
8   carni   14.000      1      0        0     0         10.1
9   herbi   14.800      0      1        0     0          3.0
10  herbi   33.500      0      1        0     0          5.3

In [28]:
dt.columns

Index(['vore', 'bodywt', 'carni', 'herbi', 'insecti', 'omni', 'sleep_total'], dtype='object')

In [29]:
# get  X and y data

X = dt[['bodywt', 'carni', 'herbi', 'insecti', 'omni']]
X.sample(4)

    bodywt  carni  herbi  insecti  omni
15   1.000      0      0        0     1
78   0.104      0      0        0     1
37   6.800      0      0        0     1
31  85.000      1      0        0     0

In [30]:
y = dt.sleep_total
y.sample(4)

52    13.5
28     9.8
10     5.3
71    15.9
Name: sleep_total, dtype: float64

In [31]:
lr = LinearRegression() # create a model
lr.fit(X, y) # fit/train a model
lr.score(X, y) # r-square score

0.16713760369976083

In [32]:
lr.coef_

array([-1.62680477e-03, -1.10829455e+00, -1.52866359e+00,  3.32614468e+00,
       -6.89186542e-01])

In [33]:
X

     bodywt  carni  herbi  insecti  omni
0    50.000      1      0        0     0
1     0.480      0      0        0     1
2     1.350      0      1        0     0
3     0.019      0      0        0     1
4   600.000      0      1        0     0
..      ...    ...    ...      ...   ...
78    0.104      0      0        0     1
79  173.330      1      0        0     0
80    2.000      1      0        0     0
81    3.380      1      0        0     0
82    4.230      1      0        0     0

[76 rows x 5 columns]

### Stats Models: Linear Rgression

In [34]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [35]:
dt.columns

Index(['vore', 'bodywt', 'carni', 'herbi', 'insecti', 'omni', 'sleep_total'], dtype='object')

In [36]:
# formula: response ~ predictor + predictor

lr_a = smf.ols(data = dt, formula = 'sleep_total ~ bodywt + insecti + herbi + omni').fit()
lr_a

In [37]:
lr_a.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            sleep_total   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.120
Method:                 Least Squares   F-statistic:                     3.562
Date:                Sat, 21 Oct 2023   Prob (F-statistic):             0.0105
Time:                        15:25:35   Log-Likelihood:                -215.94
No. Observations:                  76   AIC:                             441.9
Df Residuals:                      71   BIC:                             453.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     10.5266      0.986     10.677      0.000       8.561      12.492
bodywt        -0.0016      0.001     -2.643      0.010      -0.003      -0.000
insecti        4.4344      2.157      2.056      0.043       0.133       8.736
herbi         -0.4204      1.254     -0.335      0.738      -2.921       2.081
omni           0.4191      1.375      0.305      0.761      -2.323       3.162
==============================================================================
Omnibus:                       10.538   Durbin-Watson:                   1.735
Prob(Omnibus):                  0.005   Jarque-Bera (JB):                3.310
Skew:                          -0.004   Prob(JB):                        0.191
Kurtosis:                       1.978   Cond. No.                     4.10e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [38]:
# use print for pretty summary

print(lr_a.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            sleep_total   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.120
Method:                 Least Squares   F-statistic:                     3.562
Date:                Sat, 21 Oct 2023   Prob (F-statistic):             0.0105
Time:                        15:26:35   Log-Likelihood:                -215.94
No. Observations:                  76   AIC:                             441.9
Df Residuals:                      71   BIC:                             453.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     10.5266      0.986     10.677      0.000       8.561      12.492
bodywt        -0.0016      0.001     -2.643      0.010      -0.003      -0.000
insecti        4.4344      2.157      2.056      0.043       0.133       8.736
herbi         -0.4204      1.254     -0.335      0.738      -2.921       2.081
omni           0.4191      1.375      0.305      0.761      -2.323       3.162
==============================================================================
Omnibus:                       10.538   Durbin-Watson:                   1.735
Prob(Omnibus):                  0.005   Jarque-Bera (JB):                3.310
Skew:                          -0.004   Prob(JB):                        0.191
Kurtosis:                       1.978   Cond. No.                     4.10e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [39]:
lr.intercept_

11.634876245330169

In [40]:
lr.coef_

array([-1.62680477e-03, -1.10829455e+00, -1.52866359e+00,  3.32614468e+00,
       -6.89186542e-01])

In [41]:
lr_a.pvalues

Intercept    2.051710e-16
bodywt       1.010685e-02
insecti      4.349131e-02
herbi        7.384985e-01
omni         7.614768e-01
dtype: float64

### use C() in Satesmodels to create dummy variables internally

In [42]:
lr_b = smf.ols(data = dt, formula = 'sleep_total ~ bodywt + C(vore)').fit()
lr_b

In [43]:
lr_b.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            sleep_total   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.120
Method:                 Least Squares   F-statistic:                     3.562
Date:                Sat, 21 Oct 2023   Prob (F-statistic):             0.0105
Time:                        15:32:25   Log-Likelihood:                -215.94
No. Observations:                  76   AIC:                             441.9
Df Residuals:                      71   BIC:                             453.5
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             10.5266      0.986     10.677      0.000       8.561      12.492
C(vore)[T.herbi]      -0.4204      1.254     -0.335      0.738      -2.921       2.081
C(vore)[T.insecti]     4.4344      2.157      2.056      0.043       0.133       8.736
C(vore)[T.omni]        0.4191      1.375      0.305      0.761      -2.323       3.162
bodywt                -0.0016      0.001     -2.643      0.010      -0.003      -0.000
==============================================================================
Omnibus:                       10.538   Durbin-Watson:                   1.735
Prob(Omnibus):                  0.005   Jarque-Bera (JB):                3.310
Skew:                          -0.004   Prob(JB):                        0.191
Kurtosis:                       1.978   Cond. No.                     4.10e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [44]:
print(lr_b.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            sleep_total   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.120
Method:                 Least Squares   F-statistic:                     3.562
Date:                Sat, 21 Oct 2023   Prob (F-statistic):             0.0105
Time:                        15:32:36   Log-Likelihood:                -215.94
No. Observations:                  76   AIC:                             441.9
Df Residuals:                      71   BIC:                             453.5
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             10.5266      0.986     10.677      0.000       8.561      12.492
C(vore)[T.herbi]      -0.4204      1.254     -0.335      0.738      -2.921       2.081
C(vore)[T.insecti]     4.4344      2.157      2.056      0.043       0.133       8.736
C(vore)[T.omni]        0.4191      1.375      0.305      0.761      -2.323       3.162
bodywt                -0.0016      0.001     -2.643      0.010      -0.003      -0.000
==============================================================================
Omnibus:                       10.538   Durbin-Watson:                   1.735
Prob(Omnibus):                  0.005   Jarque-Bera (JB):                3.310
Skew:                          -0.004   Prob(JB):                        0.191
Kurtosis:                       1.978   Cond. No.                     4.10e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [45]:
print(lr_b.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            sleep_total   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.120
Method:                 Least Squares   F-statistic:                     3.562
Date:                Sat, 21 Oct 2023   Prob (F-statistic):             0.0105
Time:                        15:33:12   Log-Likelihood:                -215.94
No. Observations:                  76   AIC:                             441.9
Df Residuals:                      71   BIC:                             453.5
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             10.5266      0.986     10.677      0.000       8.561      12.492
C(vore)[T.herbi]      -0.4204      1.254     -0.335      0.738      -2.921       2.081
C(vore)[T.insecti]     4.4344      2.157      2.056      0.043       0.133       8.736
C(vore)[T.omni]        0.4191      1.375      0.305      0.761      -2.323       3.162
bodywt                -0.0016      0.001     -2.643      0.010      -0.003      -0.000
==============================================================================
Omnibus:                       10.538   Durbin-Watson:                   1.735
Prob(Omnibus):                  0.005   Jarque-Bera (JB):                3.310
Skew:                          -0.004   Prob(JB):                        0.191
Kurtosis:                       1.978   Cond. No.                     4.10e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [46]:
lr.coef_ # sklearn regression model

array([-1.62680477e-03, -1.10829455e+00, -1.52866359e+00,  3.32614468e+00,
       -6.89186542e-01])